<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2019-2025 Philip Helger and contributors
    philip[at]helger[dot]com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>phoss SMP (MongoDB backend)</display-name>
  
  <session-config>
    <cookie-config>
      <http-only>true</http-only>
    </cookie-config>
  </session-config>

  <listener>
    <listener-class>com.helger.phoss.smp.mongodb.servlet.SMPWebAppListenerMongoDB</listener-class>
  </listener>

  <filter>
    <filter-name>RestFilter</filter-name>
    <filter-class>com.helger.phoss.smp.rest.SMPRestFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RestFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- Misc stuff -->
  
  <servlet>
    <servlet-name>SMPStatusServlet</servlet-name>
    <servlet-class>com.helger.phoss.smp.servlet.SMPStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SMPStatusServlet</servlet-name>
    <url-pattern>/smp-status/*</url-pattern>
  </servlet-mapping>
  
  <!-- UI stuff -->

  <filter>
    <filter-name>SecureLoginFilter</filter-name>
    <filter-class>com.helger.phoss.smp.servlet.SecureLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SecureLoginFilter</filter-name>
    <url-pattern>/secure/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>SecureApplicationServlet</servlet-name>
    <servlet-class>com.helger.phoss.smp.servlet.SecureApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecureApplicationServlet</servlet-name>
    <url-pattern>/secure/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PublicApplicationServlet</servlet-name>
    <servlet-class>com.helger.phoss.smp.servlet.PublicApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicApplicationServlet</servlet-name>
    <url-pattern>/public/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RootServlet</servlet-name>
    <servlet-class>com.helger.phoss.smp.servlet.SMPRootServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RootServlet</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.helger.phoss.smp.servlet.SMPLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CSPReportingServlet</servlet-name>
    <servlet-class>com.helger.phoss.smp.servlet.SMPCSPReportingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CSPReportingServlet</servlet-name>
    <url-pattern>/smp-cspreporting/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>default</servlet-name>
    <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
    <init-param>
      <param-name>readonly</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>allowPartialPut</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>
