<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2014-2018 Philip Helger (www.helger.com)
    philip[at]helger[dot]com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="SMP_WebApp" 
         version="2.5">
  <display-name>phoss SMP server (XML backend)</display-name>

  <listener>
    <listener-class>com.helger.peppol.smpserver.servlet.SMPWebAppListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.helger.peppol.smpserver.servlet.TimeZoneCorrectorListener</listener-class>
  </listener>

  <filter>
    <filter-name>RestFilter</filter-name>
    <filter-class>org.glassfish.jersey.servlet.ServletContainer</filter-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <!-- add package separated by ";" -->
      <param-value>com.helger.peppol.smpserver.rest;com.helger.peppol.smpserver.exceptionmapper</param-value>
    </init-param>
    <init-param>
      <param-name>jersey.config.servlet.filter.staticContentRegex</param-name>
      <param-value>/(stream|public|secure|ajax|resbundle|smp-status)/.*|/favicon.ico|/logout</param-value>
    </init-param>
    <init-param>
      <param-name>jersey.config.server.tracing.type</param-name>
      <!-- OFF|ON_DEMAND|ALL -->
      <param-value>ON_DEMAND</param-value>
    </init-param>
    <init-param>
      <param-name>jersey.config.server.tracing.threshold</param-name>
      <!-- SUMMARY|TRACE|VERBOSE -->
      <param-value>TRACE</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>RestFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- Misc stuff -->
  
  <servlet>
    <servlet-name>SMPStatusServlet</servlet-name>
    <servlet-class>com.helger.peppol.smpserver.servlet.SMPStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SMPStatusServlet</servlet-name>
    <url-pattern>/smp-status/*</url-pattern>
  </servlet-mapping>
  
  <!-- UI stuff -->

  <filter>
    <filter-name>SecureLoginFilter</filter-name>
    <filter-class>com.helger.peppol.smpserver.servlet.SecureLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SecureLoginFilter</filter-name>
    <url-pattern>/secure/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>SecureApplicationServlet</servlet-name>
    <servlet-class>com.helger.peppol.smpserver.servlet.SecureApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecureApplicationServlet</servlet-name>
    <url-pattern>/secure/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PublicApplicationServlet</servlet-name>
    <servlet-class>com.helger.peppol.smpserver.servlet.PublicApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicApplicationServlet</servlet-name>
    <url-pattern>/public/*</url-pattern>
  </servlet-mapping>
</web-app>
