[Unit]
Description=Apache Tomcat Web Application Container
After=network.target

[Service]
Type=forking

Environment='CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC'
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'

ExecStart={{tomcat_dir}}/bin/startup.sh
ExecStop={{tomcat_dir}}/bin/shutdown.sh

User={{tomcat_user}}
Group={{tomcat_group}}
UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target